
 .titulo {
   background-color: #cccccc;
   font-family: 'BioRhyme', serif;
   font-size: 3em;
 }

 .subtitulo {
   font-size: 0.7em;
 }

 .imagen{
  width="600"; 
  height="400";
}

 .a {
  width: 48%;
  float:left;
  padding: 2% 1% 2% 1%;
  font-family: 'Source Sans Pro', sans-serif;
}
 .b {
    width: 48%;
    float:left;
    padding: 2% 1% 2% 1%;
    font-family: 'Source Sans Pro', sans-serif;
   }

.w {
  float: right;
}

.i {
  float: left;
}

.c {
  font-size: 1.5rem;
}

.medida {
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
 [class*="a"] {
 width: 100%;
 }
 [class*="b"] {
 width: 100%;
 }
 [class*="imagen"] {
 width: 100%;
 }
}




